{% extends 'aluno/layout/base.html' %}

{% block content %}

{% load static %}

{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}

            <div style="width: 50%; height: auto; background-color: rgb(253, 27, 27); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>

        {% elif 'success' in message.tags %}

            <div style="width: 50%; height: auto; background-color: rgb(4, 250, 98); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>

        {% else %}

            <div style="width: 50%; height: auto; background-color: rgb(246, 250, 4); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>
        
        {% endif %}
    {% endfor %}
{% endif %}

{% if aluno %}

    <div class="page" style="margin-top: 20px;">
        <h1 style="color: rgb(148, 114, 4);">INFORMAÇÕES DO ALUNO</h1>
    </div>

    <div class="detalhes">
        <div class="foto">
            <img src="{% static 'css/img/alunos.jpg' %}" alt="erro" class="passe">
        </div>

        <div class="informa">
            <h4>Nome: <span>{{ aluno.nome }}</span></h4>
            <h4>Gênero: <span>{{ aluno.genero }}</span></h4>
            <h4>Classe: <span>{{ aluno.classe }}ª</span></h4>
            <h4>Sala: <span>{{ aluno.sala }}</span></h4>
            <h4>Turno: <span>{{ aluno.turno }}</span></h4>
            <h4>Curso: <span>{{ aluno.curso }}</span></h4>
            <h4>Data De Nascimento: <span>{{ aluno.data_nascimento | date:'d/m/Y'}}</span></h4>
            <h4>Data De Inscrição: <span>{{ aluno.matricula | date:'d/m/Y h:i'}}</span></h4>
        </div>

        <div style="height: 6vh; display: flex; width: 100%; gap: 20px;">
            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: rgb(0, 162, 255);">
                <a href="{% url 'propina' aluno.id %}" style="color: black;">Pagamento</a>
            </button>

            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: rgb(0, 162, 255);">
                <a href="{% url 'vernotas' aluno.id %}" style="color: black;">Ver Notas</a>
            </button>
        </div>
    </div>

{% else %}

<div class="div-busca">
    <button class="btn-backen" style="margin-bottom: 20px;">
        <a href="{% url 'abaTurma' %}" style="color: black;">Busca por turmas</a>
    </button>

    <form action="{% url 'busca' %}" method="post" style="width: 48%; display: flex; gap: 10px; align-items: center;">

        {% csrf_token %}
        <div style="width: 25%; height: 100%; display: flex; flex-direction: column; gap: 25px;">
            <label for="buscaId">Id do Aluno:</label>
            <label for="buscaNome">Nome do Aluno:</label>  
        </div>

        <div style="width: 40%; height: 100%; display: flex; flex-direction: column; gap: 10px;">
            <input type="text" name="buscaId" placeholder="Informe o Id" style="height: 30px; border-radius: 5px;">
            <input type="text" name="buscaNome" placeholder="Informe o Nome" style="height: 30px; border-radius: 5px;">
        </div>
        
        <button type="submit" style="width: 30%; height: 70px; background: rgb(0, 132, 255); 
        border: 1px solid black; border-radius: 5px;"><h1>Buscar</h1></button>

    </form>

</div>
{% endif %}

{% endblock %}