{% extends 'aluno/layout/base.html' %}

{% block content %}

{% if totalpagos %}

    <button class="btn-backen" style="margin-bottom: 20px; top: 18vh;">
        <a href="{% url 'financa' %}" style="color: black;">Movimentos Financeiros</a>
    </button>

    <div class="page">
        <h1 style="color: rgb(148, 114, 4);">ESTATÍSTICAS FINANCEIRAS</h1>
    </div>

<div class="totalfundo">
    <div class="totalgreen">
        <h1>Total De Fundo</h1>
        <h2>{{ totalpagos | floatformat:2 }}kz</h2>
    </div>

    <div class="totalyellow">
        <h1 style="color: red;">Total de Propinas</h1>
        <h2>{{ propinas | floatformat:2 }}kz</h2>
    </div>

    <div class="totalred">
        <h1 style="color: yellow;">Total De Outros</h1>
        <h2>{{ outros | floatformat:2 }}kz</h2>
    </div>
</div>

{% else %}

    <div style="width: 50%; height: auto; background-color: rgb(253, 27, 27); margin: 20px; border-radius: 10px; padding: 20px;">
        <h1 style="text-align: center;">Sem Estatísticas</h1>
    </div>

{%endif%}

{% endblock %}