{% extends 'aluno/layout/base.html' %}

{% block content %}

    <form action="{% url 'disciplina.post' %}" method="post" class="form" style="height: 100vh;">
        {% csrf_token %}

        {{ form.as_p }}

        {% if form.errors %}
            <ul>
                {% for field, error in form.errors.itms %}
                    <li style="color: red;">{{ field }}: {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="btn-cadastra">
            <button type="submit" id="btn-cada" class="btn-pretende" style="background: rgb(0, 174, 255);">Cadastrar</button>
            <button type="reset" id="btn-cada" style="background: rgb(233, 48, 42);">Limpar</button>
            <button id="btn-cada" style="background: gainsboro;">
                <a href="{% url 'lista' %}" style="color: black;">Voltar</a>
            </button>
        </div>

    </form>

{% endblock %}