{% extends 'aluno/layout/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}

            <div style="width: 50%; height: auto; background-color: rgb(253, 27, 27); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>

        {% elif 'success' in message.tags %}

            <div style="width: 50%; height: auto; background-color: rgb(4, 250, 98); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>

        {% else %}

            <div style="width: 50%; height: auto; background-color: rgb(246, 250, 4); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>
        
        {% endif %}
    {% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
<div class="indexe">
    <div style="width: 100%; height: 50%; background-color: black; 
    padding: 10px 25px; border-bottom-left-radius: 100px;">
    <h1>Ola {{ request.user.nome }}!</h1>
    <h2>Seja Bem-Vindo de volta ao sistema!</h2>
    <h2>Esperamos que estejas disposta para mais um dia laboral</h2> <br>
    <h3 style="color: aqua; text-align: end;">Tenha Um bom dia!</h3>
    </div>
    
    {% if sala and curso %}
    <div style="width: 100%; height: 50%; background-color: aqua; 
    border-top-right-radius: 100px; align-items: center; justify-content: center; display: flex;">
        <h1 style="color: black; text-align: center;">Salas e Cursos Criados</h1>
    </div>

    {% elif curso and not sala %}
    <div class="btn-cadastra" class="criar" style="height: 30%;">
        
        <button id="btn-cada" style="background: rgb(0, 174, 255);">
            <a href="{% url 'salas' %}" style="color: black;">Criar as Salas</a>
        </button>

        {% elif sala and not curso %}
        <button id="btn-cada" style="background: rgb(233, 48, 42);">
            <a href="{% url 'cursos' %}" style="color: black;">Criar os Cursos</a>
        </button>

        {% else %}
        <button id="btn-cada" style="background: rgb(0, 174, 255);">
            <a href="{% url 'salas' %}" style="color: black;">Criar as Salas</a>
        </button>

        <button id="btn-cada" style="background: rgb(233, 48, 42);">
            <a href="{% url 'cursos' %}" style="color: black;">Criar os Cursos</a>
        </button>

        {% endif %}

    </div>
</div>

{% else %}
<div class="form" style="height: 30vh;">
    <h1>Faça login para ter acesso aos diversos recursos que o sistema oferece
         para a optimização dos seus serviços!</h1>

</div>
{% endif %}



{% endblock %}