{% extends 'aluno/layout/base.html' %}

{% block content %}

{% load static %}

    <div class="page" style="margin-top: 20px;">
        <h1 style="color: rgb(148, 114, 4);">O MEU PERFIL</h1>
    </div>

    <div class="detalhes" style="flex-direction: row; flex-wrap: wrap; width: 80%;">
        <div style="width: 100%; border: 1px solid black; display: flex; justify-content: space-evenly; background-color: rgb(200, 200, 200); border-radius: 20px;">
            <div class="foto" style="width: 22%; height: 40%; border: 5px solid rgb(73, 81, 88);">
                <img src="{% static 'css/img/Passe.png' %}" alt="erro" class="passe">
            </div>

            <div class="informa" id="informa" style="width: 60%; height: 60%; padding: 20px 0;">
                <h2>Nome: <span>{{ usuario.nome }}</span></h2>
                <h2>Nome de Usuário: <span>{{ usuario.username }}</span></h3>
                <h2>E-Mail: <span>{{ usuario.email }}</span></h2>
                <h2>Data de Contratação: <span>{{ usuario.date_joined | date:'d/m/Y'}}</span></h2>
                <h2>Última Vez Online: <span>{{ usuario.last_login | date:'d/m/Y h:i'}}</span></h2>
                <br> <br>
                <h1 style="text-align: center; color: black;">Função: <span style="color: rgb(3, 47, 86);">{{ funcao }}</span></h1>
            </div>
        </div>

        <div style="height: 6vh; display: flex; width: 100%; gap: 20px;">
            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: rgb(0, 162, 255);">
                <a href="{% url 'index' %}" style="color: black;">Voltar</a>
            </button>

            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: rgb(0, 162, 255);">
                <a href="{% url 'abaRegistroEdite' usuario.id %}" style="color: black;">Editar</a>
            </button>
        </div>
    </div>


{% endblock %}