{% extends 'aluno/layout/base.html' %}

{% block content %}

{% load static %}

    <div class="page" style="margin-top: 10px;">
        <h2 style="color: rgb(148, 114, 4);">NOTAS CURRICULAR DO ESTUDANTE</h2>
    </div>

    <div class="detalhes" style="height: auto;">
        <div class="foto">
            <img src="{% static 'css/img/alunos.png' %}" alt="erro" class="passe">
        </div>

        <div class="informa" style="height: auto;">
            <h1>ALUNO: {{ aluno.nome }}</h1>

                {% for nota in notas %}
                    <div style="height: auto; border: 1px solid black; margin: 10px;
                     border-radius: 10px; background-color: black; padding: 5px;">
                        <ul>
                            <li><span>Disciplina:</span> {{ nota.disciplina }}</li>
                            <li><span>Trimestre:</span> {{ nota.trimestre }}</li>
                            <li><span>Prova:</span> {{ nota.prova }}</li>
                            <li><span>Nota:</span> {{ nota.nota }} Valor(es)</li>
                        </ul>
                    </div>

                {% endfor %}
                
        </div>

        <div style="display: flex; justify-content: space-evenly; height: 10vh; width: 100%;">
            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: goldenrod;">
                <a href="{% url 'abaBusca' %}" style="color: black;">Voltar</a>
            </button>
        </div>
    </div>

    


{% endblock %}