{% extends 'aluno/layout/base.html' %}

{% block content %}

{% load static %}

    <div class="page">
        <h1 style="color: aquamarine;">PROPINAS PAGAS POR {{ aluno.nome }}</h1>
    </div>

    <div class="detalhes">
        <div class="foto">
            <img src="{% static 'css/img/Passe.png' %}" alt="erro" class="passe">
        </div>

        <div class="informa">
            <h1>Meses Pagos</h1>
            
            <ul>
                {% for propina in propinas %}

                    <li>{{ propina.mes }}</li>

                {% endfor %}
            </ul>
        </div>

        <div style="display: flex; justify-content: space-evenly; height: 10%; width: 100%;">
            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: goldenrod;">
                <a href="{% url 'lista' %}" style="color: black;">Voltar</a>
            </button>

            <button style="background: gainsboro; width: 40%; height: 100%;
            border: 2px solid aliceblue; border-radius: 10px; background: rgb(32, 97, 218);">
                <a href="{% url 'propina' aluno.id %}" style="color: black;">Pagamento</a>
            </button>
        </div>
    </div>

    


{% endblock %}