{% extends 'aluno/layout/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}

            <div style="width: 50%; height: auto; background-color: rgb(253, 27, 27); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>

        {% elif 'success' in message.tags %}

            <div style="width: 50%; height: auto; background-color: rgb(4, 250, 98); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>

        {% else %}

            <div style="width: 50%; height: auto; background-color: rgb(246, 250, 4); margin: 20px; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center;">{{ message }}</h1>
            </div>
        
        {% endif %}
    {% endfor %}
{% endif %}

    <div class="page">
        <h1 style="color: rgb(148, 114, 4);">PAGAMENTO DE PROPINA</h1>
    </div>

    <form action="{% url 'pagar' %}" method="post" class="form" style="height: 60vh;">
        {% csrf_token %}

        <p style="color: red; font-size: 18px;">Último mês: {% if ultimo %}
            {{ ultimo.mes }}
            {% else %}
            Nenhum
            {% endif %}
        </p>
        <label for="aluno">Aluno:</label>
        <input type="text" value="{{ aluno }}" style="height: 20vh;" readonly>
        <input type="hidden" name="aluno" value="{{ aluno.id }}" style="height: 20vh;" readonly>
        <label for="mes">Mês:</label>
        <select name="mes" class="genero"  style="height: 25vh;">
            {% if ultimo %}
            <option value="">{{ ultimo.mes }}</option>
            {% endif %}
            <option value="Setembro">Setembro</option>
            <option value="Outubro">Outubro</option>
            <option value="Novembro">Novembro</option>
            <option value="Dezembro">Dezembro</option>
            <option value="Janeiro">Janeiro</option>
            <option value="Fevereiro">Fevereiro</option>
            <option value="Março">Março</option>
            <option value="Abril">Abril</option>
            <option value="Maio">Maio</option>
            <option value="Junho">Junho</option>
            <option value="Julho">Julho</option>
        </select>

        <label for="preco">Preço:</label>
        <input type="" name="preco" value="{{ mensali.mensalidade }}" style="height: 25vh;" readonly>
        <input type="hidden" name="mensal" value="{{ mensali.id }}" style="height: 25vh;" readonly>

        {% if form.errors %}
            <ul>
                {% for field, error in form.errors.itms %}
                    <li style="color: red;">{{ field }}: {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="btn-cadastra" style="height: 40%;">
            <button type="submit" id="btn-cada" style="background: rgb(0, 174, 255);">Cadastrar</button>
            <button type="reset" id="btn-cada" style="background: rgb(233, 48, 42);">Limpar</button>
            <button id="btn-cada" style="background: gainsboro;">
                <a href="{% url 'abaBusca' %}" style="color: black;">Voltar</a>
            </button>
        </div>
    </form>

{% endblock %}