*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: aqua;

}

header{
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 7%;
    position: fixed;
    height: 15vh;
    align-items: center;
    backdrop-filter: blur(50px);
}

.lista{
    display: flex;
    gap: 20px;
}

.lista li a{
    color: aliceblue;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

table{
    border-collapse: collapse;
    width: 90%;
    color: aliceblue;
    height: auto;
}

td, th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(1, 66, 109);
}

th{
    background-color: darkblue;
}

.form{
    width: 60%;
    height: 80vh;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3%;
    border: 1px solid skyblue ;
    border-radius: 15px;
    color: aliceblue;
    margin-bottom: 10px;
}

.form input{
    width: 95%;
    height: 85%;
}

.genero{
    width: 95%; 
    height: 85%;
}

.div{
    height: 70vh;
    width: 90%;
    margin-top: 20px;
    background: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    gap: 5px;
}

.form button{
    width: 95%;
    height: 10%;
    margin-top: 10px;
}

#btn-actua{
    width: 40%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-edite{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 8%;
}

.btn-cadastra{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 8%;
}

#btn-cada{
    width: 30%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-back{
    width: 15%;
    height: 30px;
    background: gray;
    margin-bottom: 10px;
    align-self: flex-start;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 8px;
}

.btn-backen{
    width: 20%;
    height: 40px;
    background: gray;
    top: 20vh;
    left: 20px;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
}

.btn-action{
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 5px;
}

.page{
    width: 60%;
    text-align: start;
}

.totals{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.totalred{
    width: 32%;
    height: 100px;
    background: red;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.totalyellow{
    width: 32%;
    height: 100px;
    background: yellow;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.totalgreen{
    width: 32%;
    height: 100px;
    background: green;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.totalcurso{
    width: 43%;
    height: 25%;
    background-color: rgb(250, 239, 224);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 black;
    padding: 10px;
}

.detalhes{
    width: 60%;
    height: 80vh;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    border: 2px solid skyblue ;
    border-radius: 15px;
    margin-bottom: 10px;
}

.foto{
    width: 40%;
    height: 45%;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.passe{
    width: 100%;
    height: 100%;
}

.informa{
    width: 90%;
    height: 40%;
    color: aliceblue;
}

.informa h4 span{
    color: goldenrod;
}