*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    'header header'
    'aside main'
    ;
}

header{
    grid-area: header;
    width: 100%;
    height: 15vh;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    align-items: center;
    backdrop-filter: blur(50px);
    z-index: 2;
}

.lista{
    display: flex;
    gap: 20px;
}

.lista li a{
    color: aliceblue;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 80%;
    margin-left: 1%;
    min-height: 83vh;
    margin-top: 10px;
}

aside{
    grid-area: aside;
    width: 15%;
    height: 90vh;
    top: 15vh;
    backdrop-filter: blur(100px);
    border-right: 1px solid black;
    position: fixed;
    padding: 20px 0;
    z-index: 1;
}

.aside-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aside-lista li a{
    color: black;
    text-decoration: none;
}

.aside-lista button{
    padding: 10px;
    border: 1px solid black;
    width: 80%;
    height: 10%;
    border-radius: 5px;
    background: transparent;
}

table{
    border-collapse: collapse;
    width: 63em;
    color: aliceblue;
    height: auto;
}

td, th{
    border: 1px solid black;
    height: 35px;
}

td{
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(1, 66, 109);
}

th{
    background-color: darkblue;
}

.form{
    width: 80%;
    height: 80vh;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3%;
    border: 1px solid skyblue ;
    border-radius: 15px;
    color: aliceblue;
    margin-bottom: 10px;
}

.indexe{
    width: 80%;
    height: 50vh;
    background: linear-gradient(97deg, aqua, aqua, black, black);
    border: 1px solid skyblue ;
    border-radius: 15px;
    color: aliceblue;
    margin-bottom: 10px;
    overflow: hidden;
}

.form input{
    width: 95%;
    height: 85%;
}

.genero{
    width: 95%; 
    height: 85%;
}

.div{
    height: 70vh;
    width: 90%;
    margin-top: 20px;
    background: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    gap: 5px;
}

.form button{
    width: 95%;
    height: 10%;
    margin-top: 10px;
}

#btn-actua{
    width: 40%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-edite{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 8%;
}

.btn-cadastra{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 8%;
}

#btn-cada{
    width: 30%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-back{
    width: 15%;
    height: 30px;
    background: gray;
    margin-bottom: 10px;
    align-self: flex-start;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 8px;
}

.btn-backen{
    width: 20%;
    height: 40px;
    background: gray;
    top: 20vh;
    left: 200px;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
}

.btn-action{
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 5px;
}

.page{
    width: 60%;
    background:linear-gradient(97deg, rgb(2, 184, 175), rgb(2, 184, 175), transparent) ;
    text-align: start;
    border-radius: 10px; 
    align-self: start; 
    margin: 20px 50px; 
    padding: 20px;
}

.totals{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.totalred{
    width: 32%;
    height: 90px;
    background: red;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.totalyellow{
    width: 32%;
    height: 90px;
    background: yellow;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.totalgreen{
    width: 32%;
    height: 90px;
    background: green;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.totalcurso{
    width: 43%;
    height: 25%;
    background-color: rgb(250, 239, 224);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 black;
    padding: 10px;
}

.totalmensa{
    width: 48%;
    height: 30%;
    background-color: rgb(250, 239, 224);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 black;
    padding: 10px;
}

.divmensa{
    height: 130vh;
    width: 98%;
    margin-top: 20px;
    background: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    gap: 5px;
}

.detalhes{
    width: 60%;
    height: 80vh;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    border: 2px solid skyblue ;
    border-radius: 15px;
    margin-bottom: 10px;
}

.foto{
    width: 40%;
    height: 45%;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.passe{
    width: 100%;
    height: 100%;
}

.informa{
    width: 90%;
    height: 40%;
    color: aliceblue;
}

.informa h4 span{
    color: goldenrod;
}

#informa h2 span{
    color: rgb(3, 47, 86);
}

#informa h2{
    color: black;
}

.div-busca{
    width: 85%;
    height: 60%;
    right: 0;
    top: 15vh;
    position: absolute;
    background-image: url('img/busca.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10% 0;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

.form-turma{
    background: gray;
    top: 14vh;
    left: 190px;
    position: absolute;
    border: 2px solid black;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: rgb(90, 89, 89); padding: 15px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    overflow: hidden;
}

.form-turma label{
    width: 90%;
    text-align: start;
}

.totalfundo{
    display: flex;
    flex-wrap: wrap;
    height: 35vh;
    width: 70vw;
    border: 1px solid black;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    overflow: hidden;
}

.totalfundo .totalgreen{
    width: 100%;
    height: 50%;
    background: green;
    padding: 15px 5px;
    border-radius: 5px;
    text-align: center;
}

.totalfundo .totalyellow{
    width: 50%;
    height: 50%;
    background: yellow;
    padding: 15px 5px;
    border-radius: 5px;
    text-align: center;
}

.totalfundo .totalred{
    width: 50%;
    height: 50%;
    background: red;
    padding: 15px 5px;
    border-radius: 5px;
    text-align: center;
}