{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Alunos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
        <header>
        <h1>LIONANDRE LEARNING</h1>
        <nav>
            <ul class="lista">
                
                <li><a href="{% url 'dashboard' %}">DashBoard</a></li>
                <li><a href="{% url 'abaBusca' %}">Pesquisar</a></li>
                <li><a href="{% url 'lista' %}">Alunos</a></li>
                <li><a href="{% url 'registro' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
    {% block content %}

    {% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>