{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Alunos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="grid">
        <header>
            <h1>LIONANDRE LEARNING</h1>
            <nav>
                <ul class="lista">
                    {% if request.user.is_authenticated %}
                    <button onclick="return confirm('Deseja Sair?')" 
                    style="height: 25px; width: 75px; display: flex; justify-content: space-evenly; align-items: center; border-radius: 5px;">
                        <li><a href="{% url 'logout' %}" style="color: black;">Logout</a></li></button>
                        <li><a href="{% url 'meuperfil' %}" style="color: black;">Meu Perfil</a></li>
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'registro' %}">Sign Up</a></li>
                        {% endif %}
                    {% else %}
                    <h2><li><a href="{% url 'login' %}">Login</a></li></h2>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <aside>
            {% if request.user.is_authenticated %}
            <ul class="aside-lista">
                <button><li><a href="{% url 'index' %}" style="color: aliceblue; font-size: 25px;">Inicio</a></li></button>
                <button><li><a href="{% url 'dashboard' %}">DashBoard</a></li></button>
                <button><li><a href="{% url 'abaBusca' %}">Pesquisar</a></li></button>
                <button><li><a href="{% url 'lista' %}">Alunos</a></li></button>
                <button><li><a href="{% url 'mensalidade' %}">Mensalidade</a></li></button>
                {% if perms.view_movimento %}
                <button><li><a href="{% url 'movimento' %}">Movimentos</a></li></button>
                {% endif %}
                <button><li><a href="{% url 'disciplina' %}">Disciplinas</a></li></button>
                <button><li><a href="{% url 'professor' %}">Professores</a></li></button>
                <button><li><a href="{% url 'nota' %}">Notas</a></li></button>
                <button><li><a href="{% url 'dadosfina' %}">Finanças</a></li></button>
                <button><li><a href="{% url 'funcionario' 1 %}">Funcionários</a></li></button>
            </ul>
            {% endif %}
        </aside>

        <main>
        
        {% block content %}

        {% endblock %}
        
        </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>